<!DOCTYPE html>
<html>
<head>
    <title>Taxi Share</title>
</head>
<body>
    <h1>Login:</h1>
    <p>
        <table>
            <tr>
                <td>Username:</td>
                <td><input ng-model="Username" /></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input ng-model="Password" /></td>
            </tr>
        </table>
    </p>
    
    
<script src="app/myApp.js"></script>
<script src="app/Taxi/homepageModule.js"></script>
<script src="app/Taxi/homepageController.js"></script>
</body>
</html>